html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.Nav-section {
    width: 1190px;
    height: 25.18px;
    margin-top: 33px;
    margin-left: 135px;
    margin-bottom: 70px;
    color:#121212;
}



.Logo {
    width: 126.89px;
    height: 21.4px;
    display: inline-block;
    color: #121212;
}


.nav {
    display: inline-block;
    vertical-align: top;
    margin-top: -28px;
    margin-left: 687px;
}

.nav-link {
    
    text-align: center;
    font-size: 18px;
    color: #121212;
    text-decoration: none;
    margin-right: 52px;

}

.nav-link2 {
    
    text-align: center;
    font-size: 18px;
    color: #121212;
    text-decoration: none;
    margin-right: 0px;

}

.nav-link-active:hover {
    text-decoration: underline;
    color:#121212 ;
    opacity: 0.5;
}

.сontainer {
    margin-left: 135px;
    width: 1150px;
    height: 650px;
    box-sizing: border-box;
}

.сontainer h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 956px;
    height: 120px;
    font-weight: 400;
    font-size: 63px;
    line-height: 60px;
    padding-bottom: 30px;
    letter-spacing: -3px;
    color: #121212;
}

.interior {
    position: relative;
    box-sizing: border-box;
    width: 1150px;
    height: 500px;

    background-image: url(../recources/interior.png);
    background-size: contain;
    background-repeat: no-repeat;  
}

.interior-texte p {
    position: absolute;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 430px;
    height: 81px;
    
    left: 40px;
    bottom: 40px;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;  
}

.container2 {
    margin-top: 153px;
    margin-bottom: 150px;
    width: 1051px;
    height: 518px;
    box-sizing: border-box;
}

.container2 p {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 51px;
    height: 25px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 17px;
    color:#121212;
}


.container2 h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 1048px;
    height: 366px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 42px;
    color:#121212;
}


.container2 a {
   display: block;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 60px;
    color:white;
    background: #AD1818;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.item {
    margin-bottom: 150px;
    width: 1150px;
    height: 2122px;
    border-width: 1px solid #AD1818;
}

.title {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 79px;
    height: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #121212;
}

.item-wrapper {
    margin-bottom: 85px;
    width: 1150px;
    height: 548px;

}

.item__image {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 1150px;
    height: 450px;
}

.item-project {
    margin-top: 0%;
    margin-bottom: 11px;
    width: 540px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #121212;
    letter-spacing: -1px;
}

.item__cart-btn {

    width: 127px;
    height: 27px;
    text-decoration: none;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: -1px;
    color: #AD1818;
}

.all_projects {

    margin-bottom: 150px;
    padding-top: 70px;
    padding-bottom: 56px;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    height: 170px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 30px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #AD1818;
    background-color: white;
    border: 1px solid #AD1818;
    letter-spacing: -1px;
    border-radius: 4px;
    display: block;
    
}

.all_projects:hover {
    color: white;
    background-color:#AD1818
}

.section_black {
    margin-top: 3090px;
    margin-left: 0%;

    width: 1400px;
    height: 1844px;
    background-color: #121212;
    box-sizing: border-box;
}

.container3 h3 {
    width: 66px;
    height: 25px;
    padding-top: 155px;
    padding-bottom: 2px;
    padding-left: 136px;
    padding-right: 1207px;
    margin-top: 0%;
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.services {
    width: 1150px;
    height: 326px;
    margin-bottom: 0%;
}

.item_image2 {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 135px;
    width: 1150px;
    height: 270px;
}


.item_services {
    width: 541px;
    height: 41px;
    margin-top: 11px;
    margin-bottom: 0%;
    margin-left: 140px;
    
    font-size: 30px;
    letter-spacing: -1px;
    color: #FFFFFF;
    background-color: #121212;
}

.services_last {
    width: 1150px;
    height: 326px;
    margin-bottom: 60px;

}

.item_image3 {
    margin-top: 11px;
    margin-bottom: 0%;
    margin-left: 135px;
    width: 1150px;
    height: 270px;
}

.item_services_last {
    width: 665px;
    height: 41px;
    margin-top: 0%;
    margin-left: 125px;
    margin-bottom: 150px;

    
    font-size: 28px;
    color: #FFFFFF;
    background-color: #121212;
}

.photo_project {

    width: 1400px;
    height: 717px;
    background-image: url(../recources/Фото\ проекта.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.photo-texte h4 {
    
    margin-top: 0%;
    margin-bottom: 60px;
    margin-left: 132px;

    padding-top: 585px;

    width: 443px;
    height: 82px;
    
    font-weight: 400;
    font-size: 30px;
    line-height: 112%;
    color: #FFFFFF;
    letter-spacing: -1px;
}



.contacts2 {
    width: 1400px;
    height: 545px;

    position: relative;
}

.contacts_text {
    margin-left: 128px;
    margin-top: 175px;

    width: 500px;
    height: 217px;


}

.contacts_text h5 {
    margin-top: 0%;
    margin-bottom: 30px;

    width: 90px;
    height: 25px;
    
    font-weight: 400;
    font-size: 18px;

    color: #121212;
}

.contacts_text::before {
    content: "";
    position: absolute;

    left: 129px;
    top: 143px;

    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    
    background-image: url(../recources/phone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    
}

.telephone {
    margin-top: 0%;
    margin-bottom: 30px;

    width: 472px;
    height: 60px;
    
    font-weight: 400;
    font-size: 57px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
    letter-spacing: -1px;

}

.email {
    width: 412px;
    height: 60px;
    
    font-weight: 400;
    font-size: 57px;
    line-height: 120px;
    text-decoration: none;
    color: #121212;
}

.email-link-active:hover {
    text-decoration: underline;
    color:#121212;
    opacity: 0.5;
}

.box-wrapper {
    margin-left: 0%;

    width: 1400px;
    height: 229px;

    background-color: #121212;
}

.box-wrapper-link {
    margin-top: 58px;
    margin-left: 475px;
    
    width: 450px;
    height: 25px;
    text-align: center;
}


.box-wrapper-link2 {
    display: inline-block;
    box-sizing: border-box;

    margin-right: 42px;

    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
   

}

.box-wrapper-link3 {
    display: inline-block;
    box-sizing: border-box;

    margin-right: 0px;
    margin-bottom: 87px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

.box-wrapper-link-active:hover {
    text-decoration: none;
    color:#FFFFFF;
    opacity: 0.5;
}

.box-wrapper-link p {
    margin-top: 0%;
    margin-bottom: 0%;
    
    text-align: center;
    

    width: 450px;
    height: 27px;
    font-size: 20px;
    line-height: 100%;
    color:#FFFFFF;
    opacity: 0.5;
    letter-spacing: 0px;

}